* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: linear-gradient(rgb(19, 13, 31), rgb(54, 36, 90), rgb(255, 153, 57));
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
}

.border1 {
    border: 1px solid red;
}

.cells {
    background-color: rgb(204, 204, 204);
    font-size: 75%;
    max-height: 280px;
}

nav {
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerbar {
    display: flex;
    width: 100%;
    height: 6px;
    background-image: linear-gradient(to right, rgba(235, 235, 235, 0.027), rgb(255, 166, 0));
}

.cellbar {
    display: flex;
    width: 100%;
    height: 6px;
    background-image: linear-gradient(to right, rgb(19, 13, 31), rgb(255, 166, 0));
}

.logoimg {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logoimg img {
    flex-shrink: 0;
    width: 60px;
    margin-top: 10px;
    min-width: 50%;
}

.logo {
    flex: 1;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 300%;
    margin: 1%;
}

.main {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1% 27% 27% 27%;
    grid-template-rows: 60% 60%;
    grid-row-gap: 0%;
    margin: 30px;
}

.teamquota {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35px 6px 350px;
}

.closed {
    height: auto;
}

.quotaimg {
    background-image: url(./173756.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    margin-top: -103px;
}

.graph {
    margin: 8px;
    font-size: 150%;
    margin-top: -17px;
}

.progress {
    background-color: rgb(54, 36, 90);
    border: 1px solid white;
    box-shadow: 4px 0 8px #888;
}

.john {
    width: 100%;
    background-image: linear-gradient(to right, rgb(255, 214, 139), rgb(255, 166, 0));
    color: white;
    text-align: right;
}

.alex {
    width: 100%;
    background-image: linear-gradient(to right, rgb(255, 214, 139), rgb(255, 166, 0));
    color: white;
    text-align: end;
}

.david {
    width: 100%;
    background-image: linear-gradient(to right, rgb(255, 214, 139), rgb(255, 166, 0));
    color: white;
    text-align: end;
}

.vincent {
    width: 100%;
    background-image: linear-gradient(to right, rgb(255, 214, 139), rgb(255, 166, 0));
    color: white;
    text-align: end;
}

h1 {
    margin-left: 5px;
}

.barcontainer {
    position: relative;
    width: 100%;
    margin: -18px auto;
    min-height: 244px;
    max-height: 29px;
    min-width: 77%;
    max-width: 97%;
    z-index: 1;
}

.bar {
    position: absolute;
    display: inline-block;
    bottom: 0;
    background-image: linear-gradient( rgb(255, 166, 0), rgb(255, 214, 139));
    width: 15%;
    text-align: center;
    color: white;
    box-shadow: 4px 0 8px #888;
}

.barlabel {
    position: absolute;
    border: 1px solid white;
    background: rgb(54, 36, 90);
    bottom: 0;
    width: 100%;
    color: white;
}

.bar:nth-child(2) {
    left: 5%;
}

.bar:nth-child(3) {
    left: 20%;
}

.bar:nth-child(4) {
    left: 35%;
}

.bar:nth-child(5) {
    left: 50%;
}

.bar:nth-child(6) {
    left: 65%;
}

.bar:nth-child(7) {
    left: 80%;
}

.cells:hover {
    box-shadow: 6px 6px 6px rgba(252, 252, 252, 0.459);
}

.progress p {
    margin-right: 3px;
}

.trends {
    display: flex;
    flex-direction: column;
}

.trendsimg {
    height: 66%;
    min-height: 66%;
    /* max-height: 95%; */
    width: 96%;
    background-image: url(./SeekPng.com_graph-png_142766.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2%;
    border: 2px solid rgb(54, 36, 90);
}

.labels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-size: 150%;
}

.sidebar {
    grid-column: 1;
    grid-row: 1/4;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
}

.lesiure {
    color: #46B29D;
    font-weight: bold;
}

.events {
    font-weight: bold;
    color: #324D5C;
}

.travel {
    font-weight: bold;
    color: #E37B40;
}

.salescontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrowimg {
    align-items: center;
    justify-content: center;
}

.salescontainer h2 {
    margin-top: -15%;
}

.amounts {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    font-size: 200%;
    align-items: center;
}

.container {
    display: flex;
    position: relative;
    margin: 7%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 70px;
}

.container .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(255, 166, 0);
    border: 1px solid white;
    border-radius: 5%;
    transition: all 1s;
    z-index: 4;
    /* box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4); */
}

.container .search:hover {
    cursor: pointer;
}

.container .search:before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all .5s;
}

.container .search:after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .5s;
}

input {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    /* border-bottom: 1px solid rgb(54, 36, 90); */
    background-image: linear-gradient(to right, rgb(255, 166, 0), rgb(54, 36, 90));
    color: white;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    /* box-shadow: inset 0 0 25px 0 rgb(54, 36, 90)); */
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

input:hover {
    cursor: pointer;
}

input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}

input:focus~.search {
    right: -250px;
    /* background: #151515; */
    z-index: 6;
}

input:before {
    top: 0;
    left: 0;
    width: 25px;
    color: white;
}

input:after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}

::placeholder {
    color: white;
    font-size: 125%;
}

.graphlines {
    height: 100%;
    width: 100%;
}

.list {
    font-size: 140%;
    text-align: center;
    margin-top: 23px;
}

@media (max-width:830px) {
    body {
        background-image: linear-gradient(rgb(19, 13, 31), rgb(54, 36, 90), rgb(255, 153, 57));
        background-attachment: fixed;
    }
    .sidebar {
        justify-content: space-between;
    }
    main {
        padding-bottom: 15px;
    }
    .main {
        display: grid;
        grid-template-columns: 1% 40% 40%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1%;
    }
    .teamquota {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 35px 6px 350px;
    }
    .quotaimg {
        background-image: url(./173756.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        margin-top: -88px;
    }
    .cells {
        margin-top: inherit;
        max-height: 325px;
    }
    .barcontainer {
        margin: 0%;
        margin-top: -29px;
        margin-bottom: 14px;
        min-height: 212px;
    }
    .list {
        margin-top: 45px;
    }
}

@media (max-width:600px) {
    .sidebar {
        display: none;
    }
    .logo {
        display: none;
    }
    .main {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 16px;
    }
    .teamquota {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 35px 6px 350px;
    }
    .quotaimg {
        background-image: url(./173756.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        margin-top: -10px;
    }
    .cells {
        margin-top: inherit;
        max-height: 355px;
    }
    .barcontainer {
        margin: 1%;
    }
    .trends {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 35px 6px 260px;
    }
    .trendsimg {
        height: 94%;
    }
    .salescontainer h2 {
        margin-top: -8%;
    }
    .list {
        margin-top: 18px;
        margin-bottom: 18px;
    }
}