        * {
            margin: 0;
            padding: 0;
            font-family: 'Noto Sans HK', sans-serif;
        }
        
        .image-div {
            width: 99%;
            border-bottom: 2px solid rgb(0, 0, 0);
            padding-bottom: 10px;
            padding-right: 1px;
            margin-right: 1px;
        }
        
        .wrapper {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 2;
            max-width: 650px;
        }
        
        .text {
            width: 650px;
        }
        
        .topstories {
            float: right;
            display: inline-block;
            grid-row: 2;
            grid-column: 5;
        }
        
        img {
            width: 100%;
            border: 2px solid white;
        }
        
        h1 {
            font-size: 22px;
        }
        
        .techbutton {
            width: 150px;
            background-color: rgb(99, 99, 99);
            color: white;
            padding: 5px;
            margin-left: 10%;
            margin-top: 15px;
            text-align: center;
            text-transform: uppercase;
        }
        
        .bottomlinks {
            grid-column: 1 / 2;
            width: 100%;
            background-color: rgb(99, 99, 99);
            margin-top: 20px;
            height: 225px;
            color: white;
        }
        
        .useful {
            margin-top: 15px;
            margin-left: 10%;
            float: left;
            width: auto;
            background-color: rgb(99, 99, 99);
        }
        
        .socialmedia {
            margin-top: 15px;
            grid-column: 2;
            width: auto;
            margin-right: 10%;
            float: right;
            background-color: rgb(99, 99, 99);
        }
        
        h2 {
            color: white;
        }
        
        .links {
            border-bottom: 1px solid rgb(255, 255, 255);
            width: 75%;
            margin: 4px;
        }
        
        @media (max-width: 650px) {
            .topstories {
                display: none;
            }
        }
        
        @media (min-width: 830px) and (max-width: 830) {
            .bottomlinks {
                display: none;
            }
            .topstories {
                display: none;
            }
        }
        
        @media (min-width: 830px) {
            #bottomlinks {
                display: none;
            }
            .topstories {
                width: 35%;
                margin-right: 10px;
                font-size: 15px;
            }
            .storieshead {
                border-bottom: 1px solid black;
                width: 100%;
                font-size: 30px;
            }
        }