* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

.one {
    background-color: rgb(255, 94, 0)
}

.two {
    background-color: rgb(238, 255, 0);
}

.three {
    background-color: rgb(94, 255, 0)
}

.four {
    background-color: rgb(0, 195, 255)
}

.five {
    background-color: rgb(47, 0, 255)
}

.six {
    background-color: rgb(212, 0, 255)
}

.seven {
    background-color: rgb(255, 0, 170)
}

.eight {
    background-color: rgb(0, 255, 136)
}

.nine {
    background-color: rgb(255, 0, 0)
}

.ten {
    background-color: rgb(0, 132, 255)
}

.eleven {
    background-color: rgb(102, 255, 0)
}

.twelve {
    background-color: rgb(255, 230, 0)
}

.container .box {
    transition: ease 2s;
}

.container:hover .box:nth-of-type(odd) {
    transform: scale(2) translatex(80px) rotate(720deg);
    transition: linear 2s;
}

.container:hover .box:nth-of-type(even) {
    transform: scale(.5) translatex(-80px) rotate(-720deg);
    transition: all linear 2s;
}